.parent{
    width:100%;
    height:150vh;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F7;
}
.parent .title_head{
    
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px ;
    
}
.parent .desc{
    width:550px;
    font-size: 18px;
}
.container{
    height:400px;
    padding-top: 100px;
    z-index: 99;
}
.form{ 
    padding: 20px;
    display: flex;
    flex-direction: column;
    width:750px;
    height:450px;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 10px 12px 14px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 14px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 12px 14px -9px rgba(0,0,0,0.75);
}

form .col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-weight: 600;
    
}
form .col input{
    width:330px;
    height:45px;
    border: 2px solid #DBDFD0;
    border-radius: 25px;
    outline: none;
    padding-left: 15px;
}
form .col input:focus input{

    border-style: none;
}
form .row_one{
    width:700px;
    display: flex;
    justify-content: space-between;
    
}
form .row_two{
    width:700px;
    display: flex;
    justify-content: space-between;
    
}
form .row_three{
    width:700px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    font-weight: 600;

    
}
form .row_three input{
    width:700px;
    height:45px;
    border: 2px solid #DBDFD0;
    border-radius: 20px;
    outline: none;
    padding-left: 15px;
}
form button{
    width:700px;
    height:50px;
    background-color: #AD343E;
    border: none;
    border-radius: 20px;
    padding: 20px;
    color:white;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;



}