.frsit{
    width: 700px ;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px; 

  
  }
   
  
  .frsit img { 
    width: 500px;
    height: 500px;
 gap: 50px;
  }
    