.parent{
    width:100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
    /* background-color: #deded8; */
    padding-top: 150px;
    background-color: #e2e2db;
}
.parent .title_head{
    
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.parent .desc_head{
    color:#414536;
    width:700px;
    height: 100vh;
    font-size: 20px;

}
.parent .cards {
    display: flex;
    flex-wrap: wrap;
    width:65%;
    height:900px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.parent .cards .card {
    width:250px;
    height:300px;
    background-color: #F9F9F7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border-radius: 15px;
    margin-bottom: 10px;
    
    
}
.parent .cards .card img{
    width:250px;
    

}
.parent .cards .card .date{
    color:737865;
    padding-top: 10px;
    padding-left: 10px;
    color: #737865;

    
}
.parent .cards .card .desc{
    color:737865;
    width:200px;
    text-align: start;
    padding-left: 10px;
    font-weight: 600;
   
}